header{
    width: 1243px;
    height: 123px;
}
.top{
    display: grid;
    padding: calc(100vw * 94 / 1920);
}
.top h2{
    font-size: calc(100vw * 64 / 1920);
    margin: 0;
}
.top div{
    display: grid;
    justify-content: center;
}
.top img{
    width: calc(100vw * 284 / 1920);
    height: calc(100vw * 270 / 1920);
    margin: auto;
    margin-top: calc(100vh * 90 / 1080);
    margin-bottom: calc(100vh * 125 / 1080);
}
.top p{
    margin: 0;
    width: calc(100vw * 922 / 1920);
    height: calc(100vw * 267 / 1920);
    font-size: calc(100vw * 20 / 1920);
    line-height: 265.8%;
}

/* section skill */
.skill .box{
    display: flex;
    justify-content: center;
    gap: calc(100vw * 90 / 1920);
}
.skill .box div{
    display: grid;
    justify-content: center;
}
.skill .box div img{
    width: calc(100vw * 145 / 1920);
    height: calc(100vw * 145 / 1920);
    margin-bottom: calc(100vw * 50 / 1920);
}
.skill .box div p{
    margin: 0;
    text-align: center;
    font-size: calc(100vw * 20 / 1920);
}

.flow{
    display: grid;
    justify-content: center;
    margin-top: calc(100vw * 350 / 1920);
}
.flow h3{
    text-align: center;
}
.flow div{
    display: flex;
}
.flow div .num{
    display: grid;
    justify-content: center;
    align-items: center;
    width: calc(100vw * 75 / 1920);
    height: calc(100vw * 75 / 1920);
    font-size: calc(100vw * 22 / 1920);
    border: 1px solid white;
    border-radius: 100px;
    margin-right: calc(100vw * 85 / 1920);
}
.div .heading{

}