header{
    width: 100vw;
    height: 190px;
}
.top{
    display: grid;
    padding-left: calc(100vw * 17 / 390);
    padding-right: calc(100vw * 17 / 390);
}
.top h2{
    font-size: calc(100vw * 20 / 390);
    margin: 0;
}
.top div{
    display: grid;
    justify-content: center;
}
.top img{
    width: calc(100vw * 100 / 390);
    height: calc(100vw * 100 / 390);
    margin: auto;
    margin-top: calc(100vh * 16 / 390);
    margin-bottom: calc(100vw * 62 / 390);
}
.top p{
    margin: 0;
    width: calc(100vw * 272 / 390);
    font-size: calc(100vw * 14 / 390);
    line-height: 235%;
}

/* section skill */
.skill{
    margin-top: calc(100vw * 67 / 1920);
}
.skill .box{
    position: relative;
    display: flex;
    justify-content: center;
    gap: calc(100vw * 25 / 390);
    /* left: calc(100vw * -20 / 390); */
}
.skill .box div{
    display: grid;
    align-items: center;
    justify-content: center;
}
.skill .box div img{
    width: calc(100vw * 50 / 390);
    height: calc(100vw * 50 / 390);
    margin: auto;
    margin-bottom: calc(100vw * 16 / 390);
}
.skill .box div p{
    margin: 0;
    text-align: center;
    font-size: calc(100vw * 14 / 390);
}

/* section flow */
.flow{
    display: grid;
    justify-content: center;
    margin-top: calc(100vw * 120 / 390);
}
.flow h3{
    text-align: center;
    margin-bottom: calc(100vw * 36 / 390);
    font-size: calc(100vw * 20 / 390);
}
.flow .box{
    display: flex;
    width: calc(100vw * 296 / 390);
    height: calc(100vw * 125 / 390);
    border-top: 1px dashed white;
}
.flow .delivery{
    border-bottom: 1px dashed white;
}
.flow .box .num{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: calc(100vw * 27 / 390);
    height: calc(100vw * 27 / 390);
    font-size: calc(100vw * 16 / 390);
    background: #222;
    border-radius: 100px;
    border: 1px solid white;
    margin: auto 0;
    z-index: 2;
}
.flow .inquiry .num{
    z-index: 2;
}
.flow .inquiry .num::after{
    content: "";
    display: flex;
    position: relative;
    background: white;
    width: 1px;
    height: calc(100vw * 600 / 390);
    top: calc(100vw * 313 / 390);
    left: calc(100vw * -5 / 390);
    z-index: 0;
}
.flow .box .content{
    display: grid;
    justify-content: center;
    align-items: center;
    width: calc(100vw * 270 / 390);
    height: calc(100vw * 100 / 390);
    padding: 0 calc(100vw * 17 / 390);
}
.flow .box .content .heading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vw * 50 /390);
    font-size: calc(100vw * 16 / 390);
}
.flow .box .content p{
    display: flex;
    align-items: center;
    font-size: calc(100vw * 14 / 390);
}