header{
    width: 100vw;
    height: 123px;
}
.top{
    display: grid;
    padding-left: calc(100vw * 94 / 1920);
    padding-right: calc(100vw * 94 / 1920);
}
.top h2{
    font-size: calc(100vw * 64 / 1920);
    margin: 0;
}
.top div{
    display: grid;
    justify-content: center;
}
.top img{
    width: calc(100vw * 284 / 1920);
    height: calc(100vw * 270 / 1920);
    margin: auto;
    margin-top: calc(100vh * 90 / 1080);
    margin-bottom: calc(100vh * 125 / 1080);
}
.top p{
    margin: 0;
    width: calc(100vw * 922 / 1920);
    height: calc(100vw * 267 / 1920);
    font-size: calc(100vw * 20 / 1920);
    line-height: 265.8%;
}

/* section skill */
.skill{
    margin-top: calc(100vw * 300 / 1920);
}
.skill .box{
    position: relative;
    display: flex;
    justify-content: center;
    gap: calc(100vw * 90 / 1920);
    left: calc(100vw * -20 / 1920);
}
.skill .box div{
    display: grid;
    justify-content: center;
}
.skill .box div img{
    width: calc(100vw * 145 / 1920);
    height: calc(100vw * 145 / 1920);
    margin-bottom: calc(100vw * 50 / 1920);
}
.skill .box div p{
    margin: 0;
    text-align: center;
    font-size: calc(100vw * 20 / 1920);
}

/* section flow */
.flow{
    display: grid;
    justify-content: center;
    margin-top: calc(100vw * 350 / 1920);
}
.flow h3{
    text-align: center;
    margin-bottom: calc(100vw * 80 / 1920);
    font-size: calc(100vw * 40 / 1920);
}
.flow .box{
    display: flex;
    width: calc(100vw * 860 / 1920);
    height: calc(100vw * 160 / 1920);
    background-image : linear-gradient(to right, white 8px, transparent 8px);
    background-size: 10px 1px;
    background-repeat: repeat-x; 
    background-position: left bottom;
}
.flow .delivery{
    background-image : linear-gradient(to right, #222 8px, transparent 8px);
}
.flow .box .num{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: calc(100vw * 77 / 1920);
    height: calc(100vw * 77 / 1920);
    font-size: calc(100vw * 22 / 1920);
    background: #222;
    border-radius: 100px;
    border: 3px solid white;
    margin: auto 0;
    z-index: 2;
}
.flow .inquiry .num{
    z-index: 2;
}
.flow .inquiry .num::after{
    content: "";
    display: flex;
    position: relative;
    background: white;
    width: 2px;
    height: calc(100vw * 750 / 1920);
    top: calc(100vw * 412 / 1920);
    left: calc(100vw * -7 / 1920);
    z-index: 0;
}
.flow .box .content{
    display: flex;
    width: calc(100vw * 783 / 1920);
    height: calc(100vw * 160 / 1920);
}
.flow .box .content .heading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw * 278 / 1920);
    font-size: calc(100vw * 24 / 1920);
}
.flow .box .content p{
    display: flex;
    align-items: center;
    font-size: calc(100vw * 20 / 1920);
}