/* header */
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 124px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 62px;
    z-index: 99;
}
.header_logo {
    display: flex;
    align-items: flex-end;
    position: fixed;
    top: 10px;
    left: 10px;
}
.header_logo > h1 {
    font-size: 23px;
}
header li {
    transform: translateY(-124px);
    opacity: 0;
}

.TeamAILogo {
    height: 50px;
}




/* hamburber menu */
.hamburger-menu {
    position: fixed;
    top: 10px;
    right: 10px;
}
.menu-btn {
    position: flexd;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: var(--bg-color);
}
.menu-btn span, .menu-btn span::before, .menu-btn span::after {
    content: '';
    background-color: var(--text-color);
    display: block;
    height: 3px;
    width: 25px;
    background-color: var(--text-color);
    position: absolute;
}
.menu-btn span::before {
    bottom: 8px;
}
.menu-btn span::after {
    top: 8px;
}

/* hamburger menu list */
.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 80;
    background-color: var(--bg-color);
    transition: all 0.5s;
    display: flex;
}
.menu-content ul {
    padding: 70px 10px 0;
}
.menu-content ul li {
    border-bottom: solid 1px var(--text-color);
    list-style: none;
}
.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color: var(--text-color); 
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}
.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px var(--text-color);
    border-right: solid 2px var(--text-color);
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}






/* menu active */
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}
#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);
}
#menu-btn-check {
    display: none;
}
#menu-btn-check:checked ~ .menu-content {
    left: 0;
}



.SNS_link {
    display: flex;
    justify-content: space-between;
}
.SNS_link img {
    height: 30px;
}


/* footer */
footer {
    position: fixed;
    bottom: 10px;
}
.footer_logo {
    display: flex;
    position: fixed;
    bottom: 10px;
    justify-content: center;
    align-items: flex-end;
}




/* PC display */
@media (width >= 758px) {
    .header_list {
        display: flex;
        justify-content: space-between;
        align-content: center;
        height: auto;
    }
    .menu {
        left: 100%;
    }
}