/* <<<<<<< Updated upstream */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::after, *::before {
    box-sizing: inherit;
}
:root,
html {
    scroll-behavior: smooth;
<<<<<<< HEAD
    font-size: 14pt;
    font-family: 'Noto Serif JP';
=======
    font-size: 14px;
    font-weight: normal;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
>>>>>>> 0a4fdaf1e38f69c0efea084a3c87854079b69f3a

    --text-color: #eee;
    --bg-color: #222;

<<<<<<< HEAD
    background-color: #222;
    color: #eee;
=======
    color: var(--text-color);
    background-color: var(--bg-color);
>>>>>>> 0a4fdaf1e38f69c0efea084a3c87854079b69f3a

    font-feature-settings: "palt";
}
/* <<<<<<< HEAD */






body {
    background-color: var(--bg-color);
}
a {
    color: var(--text-color);
    text-decoration: none;
}
li {
    list-style: none;
}



/* header */
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 124px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 62px;
    z-index: 99;
}
.header_logo {
    display: flex;
    align-items: flex-end;
}
.header_logo > h1 {
    font-size: 23px;
}
header li {
    transform: translateY(-124px);
    opacity: 0;
}
.header_list {
    display: block;
    text-decoration: none;
    left: 100%;
    z-index: 99;
}
.header_list li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    margin-bottom: 12px;
}
.header_list li:first-child {
    margin-top: 70px;
}
.header_list li a {
    font-size: 20px;
    height: 100%;
}
.header_list:hover {
    text-decoration: underline;
}


.TeamAILogo {
    height: 50px;
}

/* hamburber menu */
.hambur_hidden {
    display: none;
}
.hambur_open {
    display: flex;
    height: 30px;
    width: 28px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    cursor: pointer;
}
.hambur_open > span {
    content: '';
    background-color: var(--text-color);
    display: block;
    height: 4px;
    width: 100%;
    position: absolute;
    transition: 0.5s;
}
.hambur_open > span:nth-child(1) {
    top: 0;
}
.hambur_open > span:nth-child(2) {
    top: 13px;
}
.hambur_open > span:nth-child(3) {
    bottom: 0;
}

/* menu active */
#hambur_input:checked ~ .hambur_open span:nth-child(1) {
    top: 7px;
    transform: rotate(45deg);
}
#hambur_input:checked ~ .hambur_open span:nth-child(3) {
    bottom: 7px;
    transform: rotate(-45deg);
}
#hambur_input:checked ~ .hambur_open span:nth-child(2) {
    opacity: 0;
    transform: translateX(20px);
}
#hambur_input:checked ~ .header_list {
    left: 0;
}
#hambur_input:checked ~ footer {
    top: 100%;
}



.SNS_link {
    display: flex;
    justify-content: space-between;
}
.SNS_link > img {
    height: 30px;
}




.footer_logo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}



/* PC display */
@media (width >= 758px) {
    .header_list {
        display: flex;
        justify-content: space-between;
        align-content: center;
        height: auto;
    }
    .menu {
        left: 100%;
    }
}
/*
=======
=======
test
update 2
test
test2
>>>>>>> Stashed changes
>>>>>>> 37e06c8e8fba5d525ca74af85927101c821583aa
*/