* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::after, *::before {
    box-sizing: inherit;
}
:root,
html {
    scroll-behavior: smooth;
    font-size: 14px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;

    --text-color: #eee;
    --bg-color: #222

    font-feature-settings: "palt";
}