/* <<<<<<< Updated upstream */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::after, *::before {
    box-sizing: inherit;
}
:root,
html {
    scroll-behavior: smooth;
    font-size: 14px;
    font-weight: normal;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;

    --text-color: #eee;
    --bg-color: #222;

    color: var(--text-color);
    background-color: var(--bg-color);

    font-feature-settings: "palt";
}







body {
    background-color: var(--bg-color);
}
a {
    color: var(--text-color);
    text-decoration: none;
}
li {
    list-style: none;
}


